h2{
  margin-top:50px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #000, 0 0 25px #00f, 0 0 5px #00008b;
  font-size: 1.75rem;
}
label{
  margin-top: 50px;
  margin-left: 350px;
  
}
body{
  background-image:url(./Components/url.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  margin-left: 350px;
  margin-top: 10px;
  width: 500px;
  border:1px solid #ccc!important;
  border-radius: 8px;
  padding:10px;
  display:block;
  border:none;
  
}
.button {
  margin-left: 350px;
  margin-top: 15px;
  background-color:blue;
  border: none;
  color: white;
  padding: 9px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
th {
  background-color: limegreen;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th, td {  
  padding: 15px;
  text-align: left;
}
.mytable{
  margin-left: 250px;
}
